hxt/examples/arrows/RelaxTestSuite/testCases/196/i.rng

<?xml version="1.0"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
<start>
  <element name="foo">
    <ref name="x"/>
  </element>
</start>
<define name="x">
  <element name="bar1">
    <empty/>
  </element>
</define>
<define name="x" combine="interleave">
  <element name="bar2">
    <empty/>
  </element>
</define>
<define name="x">
  <element name="bar3">
    <empty/>
  </element>
</define>
</grammar>

