hxt-xmlschema/tests/simpleTypesAttrs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="simpleTypes.xsd"/>

  <!-- root -->

  <xs:element name="root">
    <xs:complexType>
        <xs:attribute name="summerMonth" type="summerMonthInt"/>
        <xs:attribute name="temperature" type="celsiusBodyTemp"/>
        <xs:attribute name="password"    type="password"/>
        <xs:attribute name="monthByName" type="monthAbbr"/>
        <xs:attribute name="plz"         type="plz"/>
        <xs:attribute name="monthList"   type="months"/>
        <xs:attribute name="month"       type="generalMonth"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
