hxt-relaxng/examples/RelaxTestSuite/testCases/361/i.rng

<?xml version="1.0"?>

<element xmlns="http://relaxng.org/ns/structure/1.0" name="foo">
  <interleave>
    <element name="bar">
      <empty/>
    </element>
    <interleave>
      <element name="baz">
	<empty/>
      </element>
      <element name="bar">
	<empty/>
      </element>
    </interleave>
  </interleave>
</element>

