hxt/examples/arrows/RelaxTestSuite/testCases/210/c.rng

<?xml version="1.0"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <ref name="foo"/>
  </start>
  <define name="foo">
    <element name="outerFoo">
      <grammar>
	<start>
	  <ref name="foo"/>
	</start>
	<define name="foo">
	  <element name="innerFoo">
	     <empty/>
	  </element>
	</define>
      </grammar>
    </element>
  </define>
</grammar>

