hxt-relaxng/examples/RelaxTestSuite/testCases/120/c.rng

<?xml version="1.0"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <ref name="foo"/>
  </start>
  <include href="x">
    <define name="foo" combine="choice">
      <element name="foo1">
	<empty/>
      </element>
    </define>
  </include>
  <define name="foo">
    <element name="foo2">
      <empty/>
    </element>
  </define>
</grammar>

