hxt-relaxng/examples/RelaxTestSuite/testCases/195/c.rng

<?xml version="1.0"?>

<element xmlns="http://relaxng.org/ns/structure/1.0" name="foo">
<grammar>
<start combine="interleave">
  <element name="bar1">
    <empty/>
  </element>
</start>
<start>
  <element name="bar2">
    <empty/>
  </element>
</start>
<start combine="interleave">
  <element name="bar3">
    <empty/>
  </element>
</start>
</grammar>
</element>

