hxt-relaxng/examples/RelaxTestSuite/testCases/209/c.rng

<?xml version="1.0"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <grammar>
      <start>
        <ref name="foo"/>
      </start>
      <define name="foo">
        <element name="innerFoo">
           <parentRef name="foo"/>
        </element>
      </define>
    </grammar>
  </start>
  <define name="foo">
    <element name="outerFoo">
      <empty/>
    </element>
  </define>
</grammar>

