examples/arrows/RelaxTestSuite/testCases/193/i.rng

<?xml version="1.0"?>

<element xmlns="http://relaxng.org/ns/structure/1.0" name="foo">
<grammar>
<start name="x" combine="choice">
  <element name="bar1">
    <empty/>
  </element>
</start>
<start name="x">
  <element name="bar2">
    <empty/>
  </element>
</start>
<start name="x" combine="interleave">
  <element name="bar3">
    <empty/>
  </element>
</start>
</grammar>
</element>

