hxt/examples/arrows/RelaxTestSuite/testCases/372/c.rng

<?xml version="1.0"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
<start>
  <element name="foo">
    <choice>
      <group>
        <attribute name="bar"><empty/></attribute>
        <element name="baz1"><empty/></element>
      </group>
      <group>
        <attribute name="bar"><text/></attribute>
        <element name="baz2"><empty/></element>
      </group>
    </choice>
  </element>
</start>
</grammar>

