hxt/examples/arrows/RelaxTestSuite/testCases/251/c.rng

<?xml version="1.0"?>

<element xmlns="http://relaxng.org/ns/structure/1.0" name="foo">
  <interleave>
    <group>
      <element name="bar1">
        <empty/>
      </element>
      <element name="bar2">
        <empty/>
      </element>
    </group>
    <element name="baz">
      <empty/>
    </element>
  </interleave>
</element>

